{% extends "base.html" %}

{% block title %}
Curso JS
{% endblock %}

{% block content %}
<p>Estamos a dia: {{dameFecha}}</p>

<p>This ia a curso for JS</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/QoC4RxNIs5M?si=GGoC4Hu22b_NaBZV"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{% endblock %}