<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Mi Página Web</title>
    <link rel="stylesheet" type="text/css"
        href="/Volumes/harkdisk/Projects/Django/Proyecto1/Proyecto1/Plantillas/miplantilla.css">
</head>

<body>
    {% include "barra.html"  %}
    {% comment %}
    Este es un comentario largo de varias
    lineas en djando
    {% endcomment %}
    <h1>Practicas con Django</h1>
    <p>Este es un ejemplo de cómo agregar un archivo CSS a un HTML.</p>
    {% if main_name == 'Jesus' %}
    <p>El programa lo construye el programador titular</p>
    {% else %}
    <p>EL programa esta siendo dieseñado ahora por un suplente</p>
    {% endif %}
    <p>El programdor es: {{main_name.upper}} {{main_surname.upper}}</p>
    <p class="temas_django">
    <ul>
        {% if temas %}
        {% for elTema in temas %}
        <li>{{elTema|first|lower}}</li>
        {% endfor %}
        {% else %}
        <p>No hay elementos para mostrar</p>
        {% endif %}
    </ul>
    </p>
</body>

</html>